<section class="internal-page-container">
    <div class="container chat-container components-gap">
    <div class="chat-snippet">
        <div class="chat-left">
        <div class="back-to-previous"><a [routerLink]="[ '/careers']"><i class="icon icon-arrow-right"></i></a></div>
        <p>Ads-Backend Engineering <br>
        -Software Engineer</p>
        <h2>Location</h2>
        <p>- Bengaluru, India</p>
        <h2>Experience</h2>
        <p>5+ years</p>
    </div>
    <div class="chat-right">
        <h3>Hi, Vijay Welcome</h3>
        <div class="tweets-container">
            <div><div class="each-tweet"><span class="img">VJ</span><p>Hi I would like to apply for the post of Data Engineer</p></div></div>
            <div><div class="each-tweet"><span class="img">VJ</span><p>Hi I would like to apply</p></div></div>
            <div><div class="each-tweet"><span class="img">VM</span><p>post of Data Engineer</p></div></div>
            <div><div class="each-tweet"><span class="img">VJ</span><p>Hi I would like to apply for the post of Data Engineer</p></div></div>
            <div><div class="each-tweet"><span class="img">VM</span><p>Hi I would like to apply for the post</p></div></div>
            <div><div class="each-tweet"><span class="img">VM</span><p>Data Engineer</p></div></div>
        </div>
        <div class="chatbox-container"><span class="img">VM</span><input type="text" placeholder="Type message"><button>Send</button></div>
    </div> 
    </div>
    </div>
  </section>
  