<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">Knowledge <span>Hub</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 inner-page-banner">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Ads-Backend Engineering - Software Engineer
              </li>
            </ol>
          </nav>
          <h1>Ads-Backend Engineering - Software Engineer</h1>
          <a class="download" href="#"
            >Apply Now<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-knowledge-hub components-gap">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img
                src="./assets/images/risenfallofcovid19.jpg"
                alt=""
                title=""
              />
            </div>
            <p>
              The raise and fall of COVID - what the numbers tell us?
            </p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img
                src="./assets/images/risenfallofcovid19.jpg"
                alt=""
                title=""
              />
            </div>
            <p>
              The raise and fall of COVID - what the numbers tell us?
            </p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="each-minds">
            <div class="ganit-minds-image">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#"
              >Download<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
