<div class="banner-animation">
  <div><span>0...1...0...1...$</span></div>
  <div><span>1...1...0...0...$</span></div>
  <div><span>0...0...0...1...$</span></div>
  <div><span>0...1...1...1...$</span></div>
  <div><span>0...1...0...0...$</span></div>
  <div><span>1...1...0...1...$</span></div>
  <div><span>0...1...0...1...$</span></div>
  <div><span>1...1...1...0...$</span></div>
  <div><span>0...1...0...1...$</span></div>
  <div><span>0...0...1...1...$</span></div>
  <div><span>1...1...0...1...$</span></div>
  <div><span>0...1...0...0...$</span></div>
  <div><span>1...1...0...1...$</span></div>
  <div><span>0...1...0...1...$</span></div>
  <div><span>1...0...0...1...$</span></div>
  <div><span>0...1...1...0...$</span></div>
  <div><span>0...1...0...1...$</span></div>
  <div><span>0...1...1...1...$</span></div>
  <div><span>1...0...0...0...$</span></div>
  <div><span>0...1...1...1...$</span></div>
  <div><span>0...1...0...0...$</span></div>
  <div><span>0...0...1...1...$</span></div>
  <div><span>1...1...0...0...$</span></div>
  <div><span>0...0...0...1...$</span></div>
  <div><span>1...1...1...1...$</span></div>
  <div><span>0...1...0...1...$</span></div>
  <div><span>1...0...0...1...$</span></div>
  <div><span>0...1...0...0...$</span></div>
  <div><span>1...1...1...1...$</span></div>
  <div><span>0...0...0...1...$</span></div>
</div>
