
footer {
    position: relative;
    border-bottom: 3px solid #2489ff;
  }
  footer .ganit-container {
    display: flex;
  }
  .footer-left-column {
    flex-basis: 70%;
    background-color: #fff;
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  z-index: 1;
  }
  .address {
    flex-basis: 30%;
    z-index: 1;
  }
  .footer-links {
    display: flex;
  }
  
  .footer-links div {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  }
  .footer-bottom-links {
    justify-content: space-evenly;
  display: flex;
  }
  .blue-bg {
    background-color: #2489ff;
    width: 50%;
    position: absolute;
    height: 100%;
    top:0;
    right:0;
  }