.footer {
  position: relative;
  background-color: #ffffff;
  border-bottom: 3px solid #2489ff;
  .container-fluid {
    z-index: 1;
    position: relative;
    h3 {
      line-height: 32px;
      font-size: 18px;
      font-weight: 700;
      position: relative;
      a {
        font-size: 22px;
        font-weight: bold;
      }
      &::after {
        position: absolute;
        content: "";
        background: #2489ff;
        height: 5px;
        top: 50%;
        right: 0;
        left: 100px;
      }  
    }
    .col-md-9 {
      background-color: #ffffff;
      .ganit-logo {
        color: #111111;
        font-size:25px;
        font-weight: bold; 
        font-weight: 700;
        margin-bottom: 30px;
      }
      a {
        line-height: 40px;
      }
    }
    .address {
      padding: 20px 0 0 20px;
      font-weight: 600;
      h3 {
        color: #ffffff;
        font-size: 22px; 
        position: relative;
      }
      p {
        color: #ffffff;
        font-size: 18px;
      }
    }
  }
  .footer-bottom-links {
    justify-content: space-evenly;
    display: flex;
    @media (max-width: 767.98px) {
      flex-direction: column;
    }
  }
  .blue-bg {
    background-color: #2489ff;
    width: 50%;
    position: absolute;
    height: 100%;
    top:0;
    right:0;
  }
  @media (max-width: 767.98px) {
    .container-fluid {
      padding: 0;
      .container { 
        .col-md-9 {
          background-color: #ffffff;
          padding: 0 30px 30px;
          ul {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.copyrights-container {
  position: relative;
  background-color: #ffffff;
  padding-bottom:0;
  .copyrights {
    line-height: 50px;
    font-weight: 600;
    font-size: 16px;
  }
}
@media (min-width: 0) and (max-width: 767.98px) {
  .footer {
    .blue-bg {
      width: 100%;
      position: absolute;
      height: 50%;
      top:auto;
      right: 0;
      bottom: 0;
    }
  }
}