<footer class="footer" #footer [style.opacity]="crsc.fixedElementFlag ? 1 : 0">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="ganit-logo">Ganit</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <ul>
                <li>
                  <h3><a [routerLink]="['/industries']">Industries</a></h3>
                </li>
                <li><a [routerLink]="['/services']">Services</a></li>
                <li><a [routerLink]="['/products']">Platforms</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a [routerLink]="['/industries']">Retails</a></li>
                <li><a [routerLink]="['/industries']">CPG</a></li>
                <li><a [routerLink]="['/industries']">Pharma</a></li>
                <li><a [routerLink]="['/industries']">Financial Services</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a [routerLink]="['/industries']">Chemicals</a></li>
                <li><a [routerLink]="['/industries']">Energy</a></li>
                <li><a [routerLink]="['/industries']">Public Sector</a></li>
                <li><a [routerLink]="['/industries']">Restaurants & Hospitality</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a [routerLink]="['/industries']">Media</a></li>
                <li><a [routerLink]="['/industries']">Logistics</a></li>
                <li><a [routerLink]="['/industries']">Automotive</a></li>
                <li><a [routerLink]="['/industries']">Manufacturing</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-bottom-links">
                <a [routerLink]="['/careers']">Careers</a>
                <a href="#">Geekbar</a>
                <a [routerLink]="['/contact-us']">Contact</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 address-snippet">
          <div class="address">
            <h3>Address</h3>
            <p>
              3rd floor, Geeyam Tech Square, No 57, Estate Main Rd, Industrial
              Estate, Perungudi, Chennai, Tamil Nadu 600096
            </p>
            <h3>Enquiries</h3>
            <p>help@ganit.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blue-bg"></div>
</footer>
<section class="copyrights-container">
  <div class="container">
    <div class="row mb-2">
      <span class="col-md-12 copyrights"
        >© 2020, Ganit,Inc. All rights reserved.</span
      >
    </div>
  </div>
</section>
