<footer class="footer" #footer  style="position: fixed;
width: 100%;
bottom: 0;
z-index: 1;
opacity: 0;" [style.opacity]="crsc.fixedElementFlag ? 1:0">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="ganit-logo">Ganit</div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <ul>
                <li>
                  <h3><a href="#">Industries</a></h3>
                </li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Platforms</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="#">Retails</a></li>
                <li><a href="#">CPG</a></li>
                <li><a href="#">Pharma</a></li>
                <li><a href="#">Financial Services</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="#">Chemicals</a></li>
                <li><a href="#">Energy</a></li>
                <li><a href="#">Public Sector</a></li>
                <li><a href="#">Restaurants & Hospitality</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul>
                <li><a href="#">Media</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Automotive</a></li>
                <li><a href="#">Manufacturing</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-bottom-links">
                <a href="#">Careers</a>
                <a href="#">Geekbar</a>
                <a href="#">Contact</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="address">
            <h3>Address</h3>
            <p>
              3rd floor, Geeyam Tech Square, No 57, Estate Main Rd, Industrial
              Estate, Perungudi, Chennai, Tamil Nadu 600096
            </p>
            <h3>Enquiries</h3>
            <p>help@ganit.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blue-bg"></div>
</footer>
<section class="copyrights-container">
  <div class="container">
    <div class="row mb-2">
      <span class="col-md-12 copyrights"
        >© 2020, Ganit,Inc. All rights reserved.</span
      >
    </div>
  </div>
</section>
