<footer>
    <div class="ganit-container">
    <div class="footer-left-column">
    <div class="footer-logo">Ganit</div>
    <div class="footer-links">
      <div>
        <h3><a href="#">Industries</a></h3>
        <a href="#">Services</a>
        <a href="#">Platforms</a>
      </div>
      <div>
        <a href="#">Retails</a>
        <a href="#">CPG</a>
        <a href="#">Pharma</a>
        <a href="#">Financial Services</a>
      </div>
      <div>
        <a href="#">Chemicals</a>
        <a href="#">Energy</a>
        <a href="#">Public Sector</a>
        <a href="#">Restaurants &
          Hospitality</a>
      </div>
      <div>
        <a href="#">Media</a>
        <a href="#">Logistics</a>
        <a href="#">Automotive</a>
        <a href="#">Manufacturing</a>
      </div>
    </div>
    <div class="footer-bottom-links">
      <a href="#">Careers</a>
      <a href="#">Geekbar</a>
      <a href="#">Contact</a>
    </div>
  </div>
    <div class="address">
      <h3>Address</h3>
      <p>3rd floor, Geeyam Tech Square, No 57, Estate Main Rd, Industrial Estate,
        Perungudi, Chennai, Tamil Nadu 600096</p>
        <h3>Enquiries</h3>
        <p>help@ganit.com</p>
    </div>
    <div class="blue-bg"></div>
  </div>
  </footer>
  <div>
    <div class="ganit-container">
      © 2020, Ganit,Inc. All rights reserved.
    </div>
  </div>
