.news-events {
  position: relative;
  background: #fff;
  padding-bottom: 200px;
  max-width: 100%;
  overflow: hidden;
  h2{
    font-size: 50px;
    margin-bottom: 60px;
    @media (max-width: 576px) {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: 576px) {
    padding-bottom: 80px;
  }
}