.ganit-logo {
    color:#2489ff;
    font-size: 30px;
    float: left;
  }
  .hambergarmenu {
    float: right;
  }
    .hambergarmenu span {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      display: block;
    }