<header>
  <div class="container menu-header">
    <div class="ganit-logo" id="logo" (click)="redirect('home')">
      <span>Ganit</span>
    </div>
    <app-breadcrumb></app-breadcrumb>
    <div class="hambergarmenu">
      <input
        (click)="hambergarEvent($event)"
        class="checkbox-toggle"
        id="hamburger"
        type="checkbox"
        [(ngModel)]="toggleMenu"
      />
      <label for="hamburger"><span></span> <em>Close</em></label>
    </div>
  </div>
  <div class="menu-wrapper" [ngClass]="{ 'menu-open': toggleMenu }">
    <div class="d-lg-flex justify-content-around menu-container">
      <div class="menu-type1 flex-fill">
        <ul>
          <li>
            <a (click)="redirect('services')">Services</a>
          </li>
          <li><a (click)="redirect('platforms')">Platforms</a></li>
          <li><a (click)="redirect('careers')">Careers</a></li>
          <li><a>Geekbar</a></li>
          <li><a (click)="redirect('contact-us')">Contact</a></li>
        </ul>
        <app-banner-animation></app-banner-animation>
      </div>
      <div class="menu-type2 flex-fill">
        <div class="industries-menu">
          <div class="industries-menu-link">Industries</div>
          <ul>
            <li>
              <a (click)="redirectIndustries('retail')"
                ><i class="icon ga-menu-retails"></i>Retail</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('chemicals')"
                ><i class="icon ga-menu-financial-services"></i>Chemicals</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('cpg')"
                ><i class="icon ga-menu-logistics"></i>CPG</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('energy')"
                ><i class="icon ga-menu-automotive"></i>Energy</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('pharma')"
                ><i class="icon ga-menu-media"></i>Pharma</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('public-sector')"
                ><i class="icon ga-menu-public-sector"></i>Public Sector</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('financial-services')"
                ><i class="icon ga-menu-financial-services"></i>Financial
                Services</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('restaurants-hospitality')">
                <i class="icon ga-menu-retails"></i>Restaurants & Hospitality</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('media')"
                ><i class="icon ga-menu-media"></i>Media</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('logistics')">
                <i class="icon ga-menu-logistics"></i>Logistics</a
              >
            </li>
            <li>
              <a (click)="redirectIndustries('automotive')"
                ><i class="icon ga-menu-automotive"></i>Automotive</a
              >
            </li>

            <li>
              <a (click)="redirectIndustries('manufacturing')"
                ><i class="icon ga-menu-financial-services"></i>Manufacturing</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-rects" [ngClass]="{ 'rects-open': toggleMenu }">
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
  </div>
</header>
<div
  [ngClass]="{ 'd-none': scrollhide }"
  class="scroll-down-arrow"
  id="scroll-arrow"
  (click)="onPageScrollClick()"
>
  <img src="assets/icons/down-arrow.svg" />
  <span>Scroll Down</span>
</div>
