<header>
  <div class="container menu-header">
    <div class="ganit-logo" id="logo" (click)="redirect('home')">Ganit</div>
    <div class="hambergarmenu">
      <input
        class="checkbox-toggle"
        id="hamburger"
        type="checkbox"
        [(ngModel)]="toggleMenu"
      />
      <label for="hamburger"><span></span> <em>Close</em></label>
    </div>
  </div>
  <div class="menu-wrapper" [ngClass]="{ 'menu-open': toggleMenu }">
    <div class="d-lg-flex justify-content-around menu-container">
      <div class="menu-type1 flex-fill">
        <ul>
          <li>
            <a (click)="redirect('services')">Services</a>
          </li>
          <li><a href="#">Platforms</a></li>
          <li><a (click)="redirect('careers')">Careers</a></li>
          <li><a>Geekbar</a></li>
          <li><a>Contact</a></li>
        </ul>
        <app-banner-animation></app-banner-animation>
      </div>
      <div class="menu-type2 flex-fill">
        <div class="industries-menu">
          <div class="industries-menu-link">Industries</div>
          <ul>
            <li>
              <a href="#"><i class="icon icon-retails"></i>Retails</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Chemicals</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-cpg"></i>CPG</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-media"></i>Energy</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Pharma</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-retails"></i>Public Sector</a>
            </li>
            <li>
              <a href="#"
                ><i class="icon icon-logistics"></i>Financial Services</a
              >
            </li>
            <li>
              <a href="#">
                <i class="icon retails"></i>Restaurants & Hospitality</a
              >
            </li>
            <li>
              <a href="#"><i class="icon icon-media"></i>Media</a>
            </li>
            <li>
              <a href="#"> <i class="icon icon-logistics"></i>Logistics</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Automotive</a>
            </li>

            <li>
              <a href="#"><i class="icon icon-cpg"></i>Manufacturing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-rects" [ngClass]="{ 'rects-open': toggleMenu }">
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
  </div>
</header>
<!-- <header>
  <div class="ganit-container"> 
    <div class="outer-menu">
      <div class="ganit-logo">Ganit</div>
      <div class="hambergarmenu">
        <input class="checkbox-toggle" type="checkbox" />
        <div class="hamburger">
          <div></div>
        </div>
      </div>
      <div class="clear-both"></div>
      <input class="checkbox-toggle" type="checkbox" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="#">Services</a></li>
                <li><a href="#">Platforms</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Geekbar</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="industries-menu">
              <div class="industries-menu-link">Industries</div>
              <ul>
                <li class="icon-retails"><a href="#">Retails</a></li>
                <li class="icon-cpg"><a href="#">CPG</a></li>
                <li class="icon-Pharma"><a href="#">Pharma</a></li>
                <li class="icon-financial-services"><a href="#">Financial Services</a></li>
                <li class="icon-media"><a href="#">Media</a></li>
                <li class="icon-automotive"><a href="#">Automotive</a></li>
              </ul>
              <ul>
                <li class="icon-chemicals"><a href="#">Chemicals</a></li>
                <li class="icon-energy"><a href="#">Energy</a></li>
                <li class="icon-public-sector"><a href="#">Public Sector</a></li>
                <li class="icon-restaurants-hospitality"><a href="#">Restaurants & Hospitality</a></li>
                <li class="icon-logistics"><a href="#">Logistics</a></li>
                <li class="icon-manufacturing"><a href="#">Manufacturing</a></li>
              </ul>
            </div>  
          </div>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</header> -->
