<header>
  <div class="container menu-header">
    <div class="ganit-logo" id="logo" (click)="redirect('home')">Ganit</div>

    <div class="hambergarmenu">
      <input (click)="hambergarEvent($event)"
        class="checkbox-toggle"
        id="hamburger"
        type="checkbox"
        [(ngModel)]="toggleMenu"
      />
      <label for="hamburger"><span></span> <em>Close</em></label>
    </div>
  </div>
  <div class="menu-wrapper" [ngClass]="{ 'menu-open': toggleMenu }">
    <div class="d-lg-flex justify-content-around menu-container">
      <div class="menu-type1 flex-fill">
        <ul>
          <li>
            <a (click)="redirect('services')">Services</a>
          </li>
          <li><a (click)="redirect('products')">Platforms</a></li>
          <li><a (click)="redirect('careers')">Careers</a></li>
          <li><a>Geekbar</a></li>
          <li><a (click)="redirect('contact-us')">Contact</a></li>
        </ul>
        <app-banner-animation></app-banner-animation>
      </div>
      <div class="menu-type2 flex-fill">
        <div class="industries-menu">
          <div class="industries-menu-link">Industries</div>
          <ul>
            <li>
              <a href="#"><i class="icon icon-retails"></i>Retails</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Chemicals</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-cpg"></i>CPG</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-media"></i>Energy</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Pharma</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-retails"></i>Public Sector</a>
            </li>
            <li>
              <a href="#"
                ><i class="icon icon-logistics"></i>Financial Services</a
              >
            </li>
            <li>
              <a href="#">
                <i class="icon retails"></i>Restaurants & Hospitality</a
              >
            </li>
            <li>
              <a href="#"><i class="icon icon-media"></i>Media</a>
            </li>
            <li>
              <a href="#"> <i class="icon icon-logistics"></i>Logistics</a>
            </li>
            <li>
              <a href="#"><i class="icon icon-automotive"></i>Automotive</a>
            </li>

            <li>
              <a href="#"><i class="icon icon-cpg"></i>Manufacturing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-rects" [ngClass]="{ 'rects-open': toggleMenu }">
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
    <div class="menu-rect"></div>
  </div>
</header>
<div *ngIf="!scrollhide" class="scroll-down-arrow" id="scroll-arrow" (click)="onPageScrollClick()">
  <img src="assets/icons/down-arrow.svg" />
  <span>Scroll Down</span>
</div>
