<section class="ganit-achievements">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="ganit-achievements-gallery">
          <div class="achievements-gallery-img">
            <img src="./assets/images/img.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/img.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/img.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/img.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/big-img.jpg" alt="" title="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ganit-achievements-content pt-4">
          <h2>Achievements</h2>
          <div>
            <i class="icon achievements-one"></i>A Large CPG company adds
            <span class="clr-blue">200 bps to bottom-line</span> using
            <span class="clr-blue">our price optimization</span> solution
          </div>
          <div>
            <i class="icon achievements-two"></i>A large retailer saves
            <span class="clr-blue">31% of daily dump</span> in fresh category
            using <span class="clr-blue">>our sales forecasting</span> solution
          </div>
          <div>
            <i class="icon achievements-three"></i>A large retailer saves
            <span class="clr-blue">31% of daily dump</span> in fresh category
            using <span class="clr-blue">>our sales forecasting</span> solution
          </div>
          <a class="font-weight-bold" href="#">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>
