<section class="ganit-achievements">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="ganit-achievements-gallery">
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-one.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-two.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-three.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-four.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-five.jpg" alt="" title="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ganit-achievements-content pt-4">
          <h2>Achievements</h2>
          <div>
            <span class="icon achievements-one"></span>A Large CPG company adds
            <span class="clr-blue">200 bps to bottom-line</span> using
            <span class="clr-blue">our price optimization</span> solution
          </div>
          <div>
            <span class="icon achievements-two"></span>A large retailer saves
            <span class="clr-blue">31% of daily dump</span> in fresh category
            using <span class="clr-blue">>our sales forecasting</span> solution
          </div>
          <div>
            <span class="icon achievements-one"></span>A large retailer saves
            <span class="clr-blue">31% of daily dump</span> in fresh category
            using <span class="clr-blue">>our sales forecasting</span> solution
          </div>
          <div class="view-all-link">
            <a class="viewall" href="#">View All<i class="icon icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
