.ganit-achievements {
  background: #fff;
  position: relative;
  .ganit-achievements-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    div {
      height: 140px;
      position: relative;
      padding: 30px 250px 0 0;
      font-size: 1.4vw;
      .icon {
        position: absolute;
        margin-left: -175px;
        width: 140px;
        height: 140px;
      }
    }
  }
}
.ganit-achievements-gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
}
.achievements-gallery-img {
  flex: 0 50%;
  overflow: hidden;
  img {
    transition: all 0.32s;
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
