.ganit-achievements {
    display: flex;
  justify-content: space-around;
  align-items: stretch;
  }
  .ganit-achievements-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
  }
  .achievements-gallery-img {
    flex: 0 50%;
  }
  .ganit-achievements-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }