<section class="ganit-achievements">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="ganit-achievements-gallery">
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-four.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-one.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-three.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-two.jpg" alt="" title="" />
          </div>
          <div class="achievements-gallery-img">
            <img src="./assets/images/achievements-five.jpg" alt="" title="" />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ganit-achievements-content pt-4">
          <h2>Why Clients Prefer Us?</h2>
          <div
            (mousemove)="crsr.showCustomCursor($event)"
            (mouseout)="crsr.hideCusromCursor($event)"
          >
            <a [routerLink]="[ '/achievements','achievements-one']"
              ><span class="icon">
                <img src="assets/icons/Component6–6.svg" />
              </span>
              A Large CPG company adds
              <span class="clr-blue">200 bps to bottom-line</span> using
              <span class="clr-blue">our price optimization</span> solution</a
            >
          </div>
          <div
            (mousemove)="crsr.showCustomCursor($event)"
            (mouseout)="crsr.hideCusromCursor($event)"
          >
            <a [routerLink]="[ '/achievements','achievements-two']">
              <span class="icon">
                <img src="assets/icons/Component7–6.svg" />
              </span>
              A large retailer saves
              <span class="clr-blue">31% of a daily dump</span> in a fresh
              category using
              <span class="clr-blue">our sales forecasting</span> solution</a
            >
          </div>
          <div
            (mousemove)="crsr.showCustomCursor($event)"
            (mouseout)="crsr.hideCusromCursor($event)"
          >
            <a  [routerLink]="[ '/achievements','achievements-three']"
              ><span class="icon"
                ><img src="assets/icons/Component8–6.svg"
              /></span>
              A large CPG company Increased cross-sell propensity by
              <span class="clr-blue">40% at a large consumer products</span>
              company using personalized recommendation engines A
              <span class="clr-blue">large retailer</span> saves</a
            >
          </div>
          <div class="view-all-link">
            <a class="viewall" [routerLink]="[ '/achievements']"
              >View All<i class="icon ga-arrow_forward"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
