<section class="internal-page-container">
    <div class="inner-page-banner">
      <div class="banner-watermark">Achiev<span>ements</span></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 inner-page-banner">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Achievements</li>
                </ol>
              </nav>
            <h1>Achievements</h1>
            <p>We as Ganitans believe that true business 
                impact can be realized by achieving an incremental value for each decision made.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container page-achievements">
        <div class="achievement-snippet">
                <h2>A Large CPG company adds <span class="clr-blue">200 bps 
                    to bottom-line</span> <span class="clr-blue">using our price optimization</span> solution</h2>
                <a class="download" href="#">Know More<i class="icon icon-arrow-right"></i></a>
        </div>
        <div class="achievement-snippet">
            <h2>A large retailer saves <span class="clr-blue">31% of daily dump</span> in fresh category 
                using <span class="clr-blue">our sales forecasting</span> solution</h2>
            <a class="download" href="#">Know More<i class="icon icon-arrow-right"></i></a>
        </div>
        <div class="achievement-snippet">
            <h2>A large CPG company Increased <span class="clr-blue">cross-sell propensity by 40%</span> at a large consumer 
                products company using personalised recommendation engines A large retailer saves</h2>
            <a class="download" href="#">Know More<i class="icon icon-arrow-right"></i></a>
        </div>
    </div>
  </section>
  