<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">Work at  <span>Ganit</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 inner-page-banner">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Ads-Backend Engineering - Software Engineer</li>
            </ol>
          </nav>
          <h1>Ads-Backend Engineering - Software Engineer</h1>
          <a class="download" href="#">Apply Now<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-event-details components-gap">
      <div class="post-description">
        <h2>About us</h2>
          <p>Remember the days when the phone rang and you didn’t know who it was? 
            If it was the company you always dreamt working for? A call from a hospital 
            trying to tell you someone close to you got sick? Or just that stubborn sales guy.</p>
          <p>Our mission is to make it possible for you to know who’s trying to contact you, and also tell you when not to pick up. We want to remove all uncertainty, making your communication safe and efficient by separating the important stuff from the noise and create trust, no matter if it’s in the beginning of a call, in the middle of a transaction or at the end of a signature. We are building a platform which empowers our users to take 
            control of their own digital identity and making their communication more safe and efficient.</p>
        <h2>Your Mission</h2>
        <p>As a Software Engineer you will be responsible for Ganit backend development in the Ads  
          Business unit while providing know how in the full software development lifecycle.</p>
        <h2>Your Skills</h2>
        <p>As far as your technical skills, we’d love to hear about your experience of:
          <br><br>
          -    JVM – tuning and optimizing<br>
          -    Hands on experience in building large scale platforms & services using Java/
               non-Java technologies (Scala), Redis, Kafka & Nosql stores<br>
          -    Microservices architecture and patterns<br>
          -    DevOps and Continuous Delivery<br>
          -    Good English skills, oral and written</p>
          <h2>Experience: 5+ Years</h2>
          <h2>We offer</h2>
          <p>At Ganit we have built a dynamic and diverse culture where we are keen on to take ownership 
            of what we are doing, learn and develop ourselves and are willing to share their knowledge 
            with others. We love experiment with new tools and technologies to push the envelope and be 
            able to deliver the best product to our users and we believe that failure is half way to 
            success. At Ganit you will find challenges and a team with passion for what we do.</p>
            <a class="download" href="#">Apply Now<i class="icon icon-arrow-right"></i></a>
      </div>

  </div>
</section>
