.ganit-highlights {
  position: relative;
  margin-bottom: 250px;
  h2{
    margin-bottom: 40px;
  }
  main {
    max-width: 900px;
    margin: 0 auto;
  }
  .icon_one,.icon_two,.icon_three,.icon_four {
    position: absolute;
  }
  .icon_one {
    top: 0;
    left: 5%;
  }
  .icon_two{
    top: 10%;
    right: 15%;
  }
  .icon_three{
    left: 5%;
    bottom: 0;
  }
  .icon_four{ 
    bottom: 0;
    right: 5%; 
  }
} 