<section class="ganit-highlights">
  <span class="icon_one"><img src="./assets/images/478544.png" alt="" title=""></span>
  <span class="icon_two"><img src="./assets/images/1766429.png" alt="" title=""></span>
  <span class="icon_three"><img src="./assets/images/2959581.png" alt="" title=""></span>
  <span class="icon_four"><img src="./assets/images/Group 3850.png" alt="" title=""></span>
  <div class="ganit-container">
    <h2>Smart solutions at the intersection of hypothesis based <span class="clr-blue">analytics</span>, discover/ML-based <span class="clr-blue">AI</span> and new data from <span class="clr-blue">IoT</span></h2>
    <p>At Ganit, we use the latest and greatest processes and platform to enable  solutioning at micro-level as well as at scale. Ganit prides itself in reducing the Time to Information and Time to Action for its clientele in fast-paced data ecosystems like IoT and Social Media by combining the power of ML based AI, strong R&D capabilities and astute hypothesis building exercise.</p>
  </div>
  </section>
