.footer {
  position: relative;
  background-color: #ffffff;
  border-bottom: 3px solid #2489ff;
  .container-fluid {
    z-index: 1;
    position: relative;
    h3 {
      line-height: 32px;
      font-size: 18px;
      font-weight: 700;
    }
    .col-md-9 {
      background-color: #ffffff;
      .ganit-logo {
        color: #111111;
        font-size:25px;
        font-weight: bold; 
        font-weight: 700;
        margin-bottom: 30px;
      }
      a {
        line-height: 40px;
      }
    }
    .address {
      padding: 20px 0 0 20px;
      h3 {
        color: #ffffff;
      }
      p {
        color: #ffffff;
      }
    }
  }
  .footer-bottom-links {
    justify-content: space-evenly;
    display: flex;
  }
  .blue-bg {
    background-color: #2489ff;
    width: 50%;
    position: absolute;
    height: 100%;
    top:0;
    right:0;
  }
}
.copyrights-container {
  position: relative;
  background-color: #ffffff;
  .copyrights {
    line-height: 50px;
  }
}
@media (min-width: 0) and (max-width: 767.98px) {
  .footer {
    .blue-bg {
      width: 100%;
      position: absolute;
      height: 50%;
      top:auto;
      right: 0;
      bottom: 0;
    }
  }
}