.penned-by-our-minds {
  background-color: #ffffff;
  position: relative;
  padding-bottom: 300px;
  .container {
    position: relative;
    h2{
      font-size: 60px;
      margin-bottom: 60px;
    }
    .each-minds {
      padding-bottom: 50px;
      .ganit-minds-image {
        margin-bottom: 30px;
        img {
          max-width: 100%;
        }
      }
      p {
        font-weight: 700;
        margin-bottom: 30px;
      }
    }

  }
}
.download {    width: 145px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #2489ff;
  text-align: center; 
  i { 
    opacity: 0;
    transition: 0.5s;
    line-height: 27px;
    margin-left:-5px;
  }
  &:hover {
    color: #ffffff;
    i.icon-arrow-right{ 
      opacity: 1;
      margin-left: 10px;
      &:before{
        color:#ffffff;

      }
    }
  }
}