<section class="penned-by-our-minds">
  <div class="container">
    <div class="heading-with-viewall">
      <h2>Knowledge Hub</h2>
      <a class="viewall" href="#">View All<i class="icon icon-arrow-right"></i></a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/risenfallofcovid19.jpg" alt="" title=""></div>
          <p>The raise and fall of COVID - what the numbers tell us?</p>
          <a class="download" href="#">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/Jobdescription.jpg" alt="" title=""></div>
          <p>Should Data Scientist have a JD?</p>
          <a class="download" href="#">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/showmethemoney.jpg" alt="" title=""></div>
          <p>Show me the Money!</p>
          <a class="download" href="#">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>