.penned-by-our-minds {
  background-color: #ffffff;
  position: relative;
  .container {
    position: relative;
    .ganit-minds-image {
      img {
        max-width: 100%;
      }
    }
    .viewall {
      position: absolute;
      top:18px;
      right: 0;
    }
  }
}
.download {
  width: 119px;
  height: 29px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #2489ff;
  text-align: center;
  outline: none;
  border: none;
  }