<section class="penned-by-our-minds">
  <div class="container">
    <div class="heading-with-viewall">
      <h2>Penned by our Minds</h2>
      <a class="viewall" href="#">View All<i class="icon icon-arrow-right"></i></a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/pbm-one.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <a class="download">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/pbm-two.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <a class="download">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/pbm-three.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <a class="download">Download<i class="icon icon-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>