<section>
  <div class="container">
    <h2>Penned by our Minds</h2>
    <a href="#">View All</a>
    <div class="row">
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/minds-img.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <button class="download">Download</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/minds-img.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <button class="download">Download</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="each-minds">
          <div class="ganit-minds-image"><img src="./assets/images/minds-img.jpg" alt="" title=""></div>
          <p>How Nationwide is Modernising Analytics with search & AI</p>
          <button class="download">Download</button>
        </div>
      </div>
    </div>
  </div>
</section>