<section class="internal-page-container">
    <div class="inner-page-banner">
      <div class="banner-watermark">News and <span>Events</span></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <app-breadcrumb></app-breadcrumb>
            <h1>News details</h1>
            <p>
                Ganit visits top engineering & math colleges to recruit  fresh & exciting talent
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container page-event-details components-gap">
        <div class="post-details">Jan 10, 2020 <span>Posted by:</span> johndoe <span>Reads:</span> 100k</div>
        <div class="post-img">        <img
            src="./assets/images/news-and-events/event-img-one.jpg"
            alt=""
            title=""
          />
        </div>
        <div class="post-description">
            <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the 
            visual form of a document or a typeface without relying on meaningful content. <span>Wikipedia</span></p>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
                The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of 
                Cicero’s De Finibus Bonorum et Malorum for use in a type specimen book Lorem Ipsum is simply dummy text of the <span>printing 
                and typesetting industry.</span> Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer 
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <h2>Where does it come from?</h2>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown 
                typesetter in the.</p>
                <h2>Where does it come from?</h2>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown 
                    typesetter in the 15th century who is thought to have scrambled parts of Cicero’s De Finibus Bonorum et Malorum for use in a type specimen book Lorem Ipsum is 
                    simply dummy text of the<span> printing and typesetting industry.</span></p>

        </div>

    </div>
  </section>
  