<section class="ganit-banner">
    <div class="ganit-container">
    <h1>We turn data into dollars</h1>
    <p>We as Ganitans believe that true business impact can be realized by achieving an incremental value for each decision made.</p>
  </div>
  <div id="banner-animation">
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
    <div><span>0...1...0...1...$</span></div>
  </div>
  </section>
