<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">Fore <span>cast</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 inner-page-banner">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Platform</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Forecasting
              </li>
            </ol>
          </nav>
          <h1>Forecasting</h1>
          <p>
            We as ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
          <a class="download" href="#"
            >Demo<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-product-details components-gap">
    <div class="container">
      <ul class="un-order-listing">
        <li>
          Takes the guess work out of the foreasting process and enables
          collaboration
        </li>
        <li>Ensembl model approach build in the tool</li>
        <li>intuitive UI to view and analyze histrical trends</li>
        <li>
          Handles short time-series<br />
          <span>6th months to less than 24 months data</span>
        </li>
        <li>
          Provides a uffer factor to adjust targets at various levels in sales
          hierachy
        </li>
      </ul>
      <a class="download" [routerLink]="['/contact-us']"
        >Contact Us<i class="icon ga-arrow_forward"></i
      ></a>
    </div>
  </div>
</section>
