<section class="internal-page-container">
  <div class="inner-page-banner">
    <div
      class="banner-watermark"
      [ngStyle]="{
        'right.px': crsr.titleScrollPosition.top,
        'font-size.px': crsr.titleScrollPosition.top
      }"
    >
      Servi<span>ces</span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Services</h1>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container services-landingPage components-gap">
    <tabset [vertical]="true" type="pills" class="vertical-tabs">
      <tab>
        <ng-template tabHeading>
          <h4>Engineering</h4>
          <p>Some Description add here</p>
        </ng-template>
        <div>
          <h2>Overview</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
          <h2>Categories</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
          <h2>Impact stories</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
          <h2>Featured projects</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
          <div class="service-featured-projects">
            <h2>Featured projects</h2>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class="each-minds">
                    <div class="ganit-minds-image">
                      <img
                        src="./assets/images/risenfallofcovid19.jpg"
                        alt=""
                        title=""
                      />
                    </div>
                    <p>
                      The raise and fall of COVID - what the numbers tell us?
                    </p>
                    <a class="download" href="#"
                      >Download<i class="icon icon-arrow-right"></i
                    ></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="each-minds">
                    <div class="ganit-minds-image">
                      <img
                        src="./assets/images/Jobdescription.jpg"
                        alt=""
                        title=""
                      />
                    </div>
                    <p>Should Data Scientist have a JD?</p>
                    <a class="download" href="#"
                      >Download<i class="icon icon-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <h4>Analytics</h4>
          <p>Some Description add here</p>
        </ng-template>
        <div>
          <h2>Analytics Overview</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <h4>AI</h4>
          <p>Some Description add here</p>
        </ng-template>
        <div>
          <h2>AI Overview</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <h4>Cloud</h4>
          <p>Some Description add here</p>
        </ng-template>
        <div>
          <h2>Cloud Overview</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </tab>
      <tab>
        <ng-template tabHeading>
          <h4>Engineering</h4>
          <p>Some Description add here</p>
        </ng-template>
        <div>
          <h2>Overview</h2>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </tab>
    </tabset>
  </div>
</section>
