<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark" [ngStyle]="{ 'right.px': crsr.titleScrollPosition.top }">Indus<span>tries</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Products</h1>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achievingg an incremental value for each decision made.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-industries components-gap">
    <div class="industries-snippets">
      <h2>Overview</h2>
      <p>We as Ganitans believe that true business impact can be realized
        by achieving an incremental value for eah decision made as Ganitans
        believe that true business impact can be realized by achieving an incremental
        value for each decision made.</p>
    </div>
    <div class="industries-snippets">
      <h2>Categories</h2>
      <div class="tags">
        <a href="#"><i class="icon ga-category-fashion"></i>Fashion & Laxury</a>
        <a href="#"><i class="icon ga-category-analytics"></i>Advanced Analytics</a>
        <a href="#"><i class="icon ga-category-transform"></i>Commercial Transformation</a>
        <a href="#"><i class="icon ga-category-organization"></i>Digital & Multi channel Excelance</a>
        <a href="#"><i class="icon ga-category-grocery"></i>Grocery</a>
        <a href="#"><i class="icon ga-category-strategy"></i>Marketing</a>
        <a href="#"><i class="icon ga-category-operations"></i>Operations</a>
        <a href="#"><i class="icon ga-category-organization"></i>Organization</a>
        <a href="#"><i class="icon ga-category-strategy"></i>Strategy</a>
      </div>
    </div>
    <div class="industries-snippets">
      <h2>Impact Stories</h2>
      <p>We as Ganitans believe that true business impact can be realized
        by achieving an incremental value for eah decision made as Ganitans
        believe that true business impact can be realized by achieving an incremental
        value for each decision made.</p>
    </div>
    <div class="industries-snippets">
      <h2>Featured Projects</h2>
      <div class="row">
        <div class="col-md-4 mb-5">
          <div class="each-minds">
            <div class="ganit-minds-image mb-3">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#">Download<i class="icon ga-arrow_forward"></i></a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="each-minds">
            <div class="ganit-minds-image mb-3">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#">Download<i class="icon ga-arrow_forward"></i></a>
          </div>
        </div>
        <div class="col-md-4 mb-5">
          <div class="each-minds">
            <div class="ganit-minds-image mb-3">
              <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
            </div>
            <p>Should Data Scientist have a JD?</p>
            <a class="download" href="#">Download<i class="icon ga-arrow_forward"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>