<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">Work at <span>Ganit</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Careers</h1>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container job-openings">
    <div class="container job-video-container components-gap">
      <h2>Work @Ganit</h2>
      <div class="post-video">
        <img
          src="./assets/images/news-and-events/event-img-one.jpg"
          alt=""
          title=""
        />
      </div>
    </div>
    <div class="row post-filter">
      <div class="col-md-6">
        <h2>Job openings</h2>
        <p>27 open positions</p>
      </div>
      <div class="col-md-6">
        <select>
          <option>location</option>
          <option>Bangalore</option>
          <option>Chennai</option>
        </select>
      </div>
    </div>
    <div class="row job-posts-container components-gap">
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Backend Engineering</h3>
          <p>Ads-Backend Engineering - Software Engineer</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Ad operations</h3>
          <p>Ads -Data Scientist</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Ad operations</h3>
          <p>Ads Monetization - Data Engineer</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Backend Engineering</h3>
          <p>Ads-Backend Engineering - Software Engineer</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Ad operations</h3>
          <p>Ads -Data Scientist</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="job-posts">
          <h3>Backend Engineering</h3>
          <p>Ads-Backend Engineering - Software Engineer</p>
          <p class="job-location">- Bengaluru, India</p>
          <a class="download" href="#"
            >Apply<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
