<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">About <span>Us</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 inner-page-banner">
          <app-breadcrumb></app-breadcrumb>
          <h1>About Us</h1>
          <p>
            We as Ganitans believe that true business imppact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-about-us components-gap">
    <div class="about-description">
      <h2>Who we are</h2>
      <p>
        Remember the days when the phone rang and you didn’t know who it was? If
        it was the company you always dreamt working for? A call from a hospital
        trying to tell you someone close to you got sick? Or just that stubborn
        sales guy.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="career-img">
          <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
        </div>
        <div class="career-desptn">
          <h3>Nikhil yalagandula</h3>
          <p>UI/UX Designer</p>
          <a class="viewall" href="#"
            >VIEW PROFILE<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="career-img">
          <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
        </div>
        <div class="career-desptn">
          <h3>Nikhil yalagandula</h3>
          <p>UI/UX Designer</p>
          <a class="viewall" href="#"
            >VIEW PROFILE<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="career-img">
          <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
        </div>
        <div class="career-desptn">
          <h3>Nikhil yalagandula</h3>
          <p>UI/UX Designer</p>
          <a class="viewall" href="#"
            >VIEW PROFILE<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="career-img">
          <img src="./assets/images/Jobdescription.jpg" alt="" title="" />
        </div>
        <div class="career-desptn">
          <h3>Nikhil yalagandula</h3>
          <p>UI/UX Designer</p>
          <a class="viewall" href="#"
            >VIEW PROFILE<i class="icon ga-arrow_forward"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
