.news-and-event-snippet {
    position: relative;
    img {
        width: 550px;
        height: 450px;
        object-fit: cover;
    }
    .date {
        margin-top: 150px;
    }
    &.even {
        .nws-evnt-title {
            position: relative;
            left: -150px;
            background-color:#ffffff;
            padding:20px 0 20px 20px;
            border-left:10px solid #2489ff;
            border-top:10px solid #2489ff;
        }
    }
    &.add {
        .nws-evnt-title {
            position: relative;
            margin-right:-150px;
            background-color:#ffffff;
            padding:20px 20px 20px 0;
            border-right:10px solid #2489ff;
            border-top:10px solid #2489ff;
            z-index: 1;
        }
    }
}