<section class="internal-page-container">
    <div class="inner-page-banner">
      <div class="banner-watermark">Contact  <span>Us</span></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 inner-page-banner">
            <h1>Contact Us</h1>
            <p>Let's connect to makes you clear</p>
            <div class="contact-us-links">
                <h2>Looking for</h2>
                <span><a routerLink="products">Product</a></span>
                <span><a routerLink="careers">Career</a></span>
                <span><a routerLink="services">Service</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container page-contact-us components-gap">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Name" value="" />
              </div>
              <div class="col-md-6 alignment-right">
                <input type="email" placeholder="Email" value="" />
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Company" value="" />
              </div>
              <div class="col-md-6 alignment-right">
                <input type="text" placeholder="Budget(optional)" value="" />
              </div>
              <div class="col-md-12">
                <input type="text" placeholder="Message" value="" />
              </div>
              <button>Submit</button>
            </div>
          </div>
    </div>
  </section>
  