<section>
  <div class="ganit-container">
    <h2>News & Events</h2>

    <div class="swiper-container" [swiper]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of slides">
          <img [src]="slide" alt="" />
        </div>
      </div>

      <div class="swiper-scrollbar"></div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <div class="ganit-event-tiles">
      <div class="ganit-event-image">
        <img src="./assets/images/minds-img.jpg" alt="" title="" />
      </div>
      <p>
        Ganit visits
        <span class="clr-blue">top engineering & math colleges</span> to recruit
        fresh & exciting talent
      </p>
    </div>
  </div>
</section>
