<section class="news-and-events">
  <div class="container">
    <div class="row">
      <div>
        <h2>News & Events</h2>

        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <!-- <div class="swiper-slide" *ngFor="let slide of slides">
          <img [src]="slide" alt="" />
        </div> -->
            <div class="swiper-slide">
              <div class="ganit-event-tiles">
                <div class="ganit-event-image">
                  <img src="./assets/images/minds-img.jpg" alt="" title="" />
                </div>
                <p>
                  Ganit visits
                  <span class="clr-blue">top engineering & math colleges</span>
                  to recruit fresh & exciting talent
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ganit-event-tiles">
                <div class="ganit-event-image">
                  <img src="./assets/images/minds-img.jpg" alt="" title="" />
                </div>
                <p>
                  Ganit visits
                  <span class="clr-blue">top engineering & math colleges</span>
                  to recruit fresh & exciting talent
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="ganit-event-tiles">
                <div class="ganit-event-image">
                  <img src="./assets/images/minds-img.jpg" alt="" title="" />
                </div>
                <p>
                  Ganit visits
                  <span class="clr-blue">top engineering & math colleges</span>
                  to recruit fresh & exciting talent
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-scrollbar"></div>
          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev">&#8592;</div>
          <div class="swiper-button-next">&#8594;</div>
        </div>
      </div>
    </div>
  </div>
</section>
