body {
  background-color: #fff;
  font-family: 'CenturyGothic';
  font-size: 18px;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/fonts/CenturyGothic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/fonts/CenturyGothic.woff') format('woff'),
    url('./assets/fonts/CenturyGothic.ttf') format('truetype'),
    url('./assets/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ganit';
  src: url('./assets/fonts/ganit.ttf?ykftgu') format('truetype'),
    url('./assets/fonts/ganit.woff?ykftgu') format('woff'),
    url('./assets/fonts/ganit.svg?ykftgu#ganit') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ganit' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$icon-achievements-one-path1: '\e900';
$icon-achievements-one-path2: '\e901';
$icon-achievements-one-path3: '\e902';
$icon-achievements-one-path4: '\e903';
$icon-achievements-one-path5: '\e904';
$icon-achievements-one-path6: '\e905';
$icon-achievements-one-path7: '\e906';
$icon-achievements-one-path8: '\e907';
$icon-achievements-one-path9: '\e908';
$icon-achievements-three: '\e909';
$icon-achievements-two-path1: '\e90a';
$icon-achievements-two-path2: '\e90b';
$icon-achievements-two-path3: '\e90c';
$icon-achievements-two-path4: '\e90d';
$icon-achievements-two-path5: '\e90e';
$icon-achievements-two-path6: '\e90f';
$icon-achievements-two-path7: '\e910';
$icon-arrow-left: '\e911';
$icon-arrow-right: '\e912';
$icon-automotive: '\e913';
$icon-cpg: '\e914';
$icon-energy: '\e915';
$icon-Gfinancial-services: '\e916';
$icon-logistics: '\e917';
$icon-manufacturing: '\e918';
$icon-media: '\e919';
$icon-pharma-path1: '\e91a';
$icon-pharma-path2: '\e91b';
$icon-pharma-path3: '\e91c';
$icon-pharma-path4: '\e91d';
$icon-public-sector: '\e91e';
$icon-restaurants-hospitality: '\e91f';
$icon-retails: '\e920';
@import 'icons';
* {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic';
  list-style: none;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #111111;
}
h1 {
  font-size: 58px;
  line-height: 1.03;
}
h2 {
  font-size: 46px;
  line-height: 0.97;
  margin-bottom: 40px;
}
img {
  max-width: 100%;
}
p {
  font-size: 22px;
  line-height: 1.73;
}
.clr-blue {
  color: #2489ff;
  font-weight: 600;
}
.clr-black {
  color: #000000;
  font-weight: 600;
}
.clear-both {
  clear: both;
}
.ganit-container {
  max-width: 1366px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  padding-top: 50px;
  z-index: 10;
  top: 0;
}
a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: all 0.4s ease;
  text-decoration: none;
  color: #111111;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}
a:hover {
  color: #2489ff;
}
a.viewall {
  transition: all 0.5s;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  min-width: 110px;
  line-height: 50px;
  i {
    opacity: 0;
    transition: 0.5s;
    line-height: 27px;
    margin-left: -5px;
  }
  &:hover i {
    opacity: 1;
    margin-left: 10px;
  }
}
.heading-with-viewall {
  display: flex;
  justify-content: space-between;
}
// a:hover:after {
//   width: 100%;
// }
// a:after {
//   content: '';
//   position: absolute;
//   z-index: 1;
//   bottom: -0.15em;
//   left: 0;
//   width: 0;
//   height: 2px;
//   background: #2489ff;
//   transition: width 0.4s ease;
// }

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  &.retails {
    background: url('./assets/icons/Group3879.svg') no-repeat center center;
  }
  &.cpg {
    background: url('./assets/icons/Group3880.svg') no-repeat center center;
  }
  &.Pharma {
    background: url('./assets/icons/Group3881.svg') no-repeat center center;
  }
  &.financial-services {
    background: url('./assets/icons/Group3882.svg') no-repeat center center;
  }
  &.media {
    background: url('./assets/icons/Group3883.svg') no-repeat center center;
  }
  &.automotive {
    background: url('./assets/icons/Group3884.svg') no-repeat center center;
  }
  &.chemicals {
    background: url('./assets/icons/Group3885.svg') no-repeat center center;
  }
  &.energy {
    background: url('./assets/icons/Group3886.svg') no-repeat center center;
  }
  &.public-sector {
    background: url('./assets/icons/Group3887.svg') no-repeat center center;
  }
  &.restaurants-hospitality {
    background: url('./assets/icons/Group3888.svg') no-repeat center center;
  }
  &.logistics {
    background: url('./assets/icons/Group3890.svg') no-repeat center center;
  }
  &.manufacturing {
    background: url('./assets/icons/Group3879.svg') no-repeat center center;
  }
  &.achievements-one {
    background: url('./assets/icons/Component6–6.svg') no-repeat center center;
  }
  &.achievements-two {
    background: url('./assets/icons/Component7–6.svg') no-repeat center center;
  }
  &.achievements-three {
    background: url('./assets/icons/achievements-three.svg') no-repeat center
      center;
  }
}
.menu-type1 .banner-animation {
  position: absolute !important;
  right: -25% !important;
  transform: rotate(150deg) !important;
  top: 50% !important;
  @media (max-width: 576px) {
    right: -110% !important;
    transform: rotate(140deg) scale(0.7) !important;
    top: 50% !important;
  }
}
.owl-carousel .owl-nav {
  display: block !important;
  [class*='owl-'] {
    background: none;
    font-size: 30px;
    position: absolute;
    top: 25%;
    z-index: 1;
    left: -80px;
    &:hover {
      background: none;
    }
    &.owl-next {
      left: auto;
      right: -80px;
    }
    i {
      &:before {
        color: #2489ff;
        &:hover {
          font-weight: 700;
        }
      }
    }
    @media (max-width: 767.98px) {
      position: relative;
      top: auto;
      text-align: center;
      left: auto;
      &.owl-next {
        right: auto;
      }
    }
  }
}
.owl-carousel .owl-item img {
  margin-bottom: 30px;
}
.each-minds {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.cursor {
  width: 15px;
  height: 15px;
  background: #007bff;
  border-radius: 50%;
  position: fixed;
  transition: all 200ms ease-out;
  pointer-events: none;
  z-index: 100;
  &:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    width: 16px;
    height: 16px;
    transform: scale(1);
    background: #007bff;
    opacity: 0;
    transition: all 200ms ease-out;
  }

  &.zoom {
    &:before {
      transform: scale(5);
      opacity: 0.4;
    }
  }
}
#square {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: green;
}
//color Variables
$ganitBlue: #2489ff;
$ganitWhite: #ffffff;
$ganitBlue: #2489ff;
$componentsGap: 200px;
//inner page css
.components-gap {
  padding-bottom: $componentsGap;
}
.download {
  width: 145px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #2489ff;
  text-align: center;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  display: inline-block;
  i {
    visibility: hidden;
    transition: 0.5s;
    line-height: 27px;
    margin-left: -5px;
    position: absolute;
  }
  &:hover {
    width: 170px;
    color: #ffffff;
    i.icon-arrow-right {
      opacity: 1;
      margin-left: 10px;
      position: absolute;
      top: 20%;
      visibility: visible;
      width: 20px;
      height: 20px;
      &:before {
        color: #ffffff;
      }
    }
  }
}
.internal-page-container {
  background-color: $ganitWhite;
  .inner-page-banner {
    height: 100vh;
    position: relative;
    .banner-watermark {
      transition: all 0.04s;
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 150px;
      transform: translateY(-50%);
      opacity: 0.2;
      font-weight: bold;
      span {
        font-family: CenturyGothic;
        // font-size: 160px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.38;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        text-shadow: 0 0 3px #343434;
      }
    }
    .container {
      height: 100%;
      .row {
        height: 100%;
        .col-md-6,
        .inner-page-banner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          .breadcrumb {
            background-color: transparent;
            padding-top: 100px;
            .breadcrumb-item {
              &.active {
                color: #2489ff;
              }
            }
          }
          h1 {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

.vertical-tabs {
  display: flex;
  .nav-pills {
    .nav-link {
      margin-bottom: 30px;
      border-radius: 6px 0 0 6px;

      &.active {
        background: none;
        border-right: 4px solid #2489ff;
        box-shadow: 0 0 10px -3px #aaa;
      }
    }
    p {
      font-size: 0.8rem;
      margin: 0;
      font-weight: bold;
    }
  }

  .tab-content {
    padding-left: 30px;
  }
}

.scroll-down-arrow {
  position: fixed;
  bottom: 5%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  text-align: center;
  font-size: 0.8rem;
  animation: bounce 1.5s infinite;
  cursor: pointer;
  z-index: 100;
  span {
    padding-top: 0.6rem;
    display: block;
    font-weight: bold;
    color: #2489ff;
  }
}

@keyframes bounce {
  0% {
    bottom: 3%;
  }
  20% {
    bottom: 4%;
  }
  50% {
    bottom: 3%;
  }
  80% {
    bottom: 4%;
  }
  100% {
    bottom: 3%;
  }
}

.page-products {
  .nav-tabs {
    justify-content: center;
    margin-bottom: 50px;
    border: none;
    .nav-item {
      margin: 0;
      border: 2px solid #2489ff;
      width: 150px;
      text-align: center;
      .nav-link {
        font-weight: bold;
        border: none;
      }
      &.active {
        .nav-link {
          background: #2489ff;

          border: none;
          border-radius: 0;
          span {
            color: #fff;
          }
        }
      }
    }
  }
}

.modal-open .modal {
  display: flex !important;
}

.modal-dialog {
  width: 80%;
  max-width: 650px;
  margin: auto;
}
.modal-content {
  border-radius: 0;
  .modal-body {
    padding: 0;
    iframe {
      display: block;
    }
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    width: 30px;
    line-height: 30px;
    opacity: 1;
  }
}
