body {
  background-color: #fff;
  font-family: 'CenturyGothic';
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/fonts/CenturyGothic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('./assets/fonts/CenturyGothic.woff') format('woff'),
    url('./assets/fonts/CenturyGothic.ttf') format('truetype'),
    url('./assets/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'CenturyGothic';
  list-style: none;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #111111;
}
h1 {
  font-size: 58px;
  line-height: 1.03;
}
h2 {
  font-size: 46px;
  line-height: 0.97;
  margin-bottom: 40px;
}
p {
  font-size: 18px;
  line-height: 1.73;
}
.clr-blue {
  color: #2489ff;
  font-weight: 600;
}
.clear-both {
  clear: both;
}
.ganit-container {
  max-width: 1366px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  padding-top: 50px;
  background-color: #fff;
  z-index: 10;
}
section {
  margin-bottom: 50px;
}
a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
  text-decoration: none;
  color: #111111;
}
a:hover {
  color: #2489ff;
}
a:hover:after {
  width: 100%;
}
a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #2489ff;
  transition: width 0.4s ease;
}

.icon {
  width: 30px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  &.retails {
    background: url('./assets/icons/Group3879.svg') no-repeat center center;
  }
  &.cpg {
    background: url('./assets/icons/Group3880.svg') no-repeat center center;
  }
  &.Pharma {
    background: url('./assets/icons/Group3881.svg') no-repeat center center;
  }
  &.financial-services {
    background: url('./assets/icons/Group3882.svg') no-repeat center center;
  }
  &.media {
    background: url('./assets/icons/Group3883.svg') no-repeat center center;
  }
  &.automotive {
    background: url('./assets/icons/Group3884.svg') no-repeat center center;
  }
  &.chemicals {
    background: url('./assets/icons/Group3885.svg') no-repeat center center;
  }
  &.energy {
    background: url('./assets/icons/Group3886.svg') no-repeat center center;
  }
  &.public-sector {
    background: url('./assets/icons/Group3887.svg') no-repeat center center;
  }
  &.restaurants-hospitality {
    background: url('./assets/icons/Group3888.svg') no-repeat center center;
  }
  &.logistics {
    background: url('./assets/icons/Group3890.svg') no-repeat center center;
  }
  &.manufacturing {
    background: url('./assets/icons/Group3879.svg') no-repeat center center;
  }
  &.achievements-one {
    background: url('./assets/icons/Component6–6.svg') no-repeat center center;
  }
  &.achievements-two {
    background: url('./assets/icons/Component7–6.svg') no-repeat center center;
  }
  &.achievements-three {
    background: url('./assets/icons/Component8–6.svg') no-repeat center center;
  }
  // &.manufacturing {
  //   background: url('./assets/icons/Group3879.svg') no-repeat center center;
  // }
}
