<section class="internal-page-container">
  <div class="inner-page-banner">
    <div class="banner-watermark">Why Clients <span>Prefer Us?</span></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <app-breadcrumb></app-breadcrumb>
          <h1>Why Clients Prefer Us...?</h1>
          <p>
            We as Ganitans believe that true business impact can be realized by
            achieving an incremental value for each decision made.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-achievements">
    <div class="achievement-snippet">
      <div class="inner">
        <h2>
          A Large CPG company adds
          <span class="clr-blue">200 bps to bottom-line</span>
          <span class="clr-blue">using our price optimization</span> solution
        </h2>
        <a class="download" (click)="redirect('achievements-one')"
          >Know More<i class="icon ga-arrow_forward"></i
        ></a>
      </div>
    </div>
    <div class="achievement-snippet">
      <div class="inner">
        <h2>
          A large retailer saves
          <span class="clr-blue">31% of daily dump</span> in fresh category
          using <span class="clr-blue">our sales forecasting</span> solution
        </h2>
        <a class="download" (click)="redirect('achievements-two')"
          >Know More<i class="icon ga-arrow_forward"></i
        ></a>
      </div>
    </div>
    <div class="achievement-snippet">
      <div class="inner">
        <h2>
          A large CPG company Increased
          <span class="clr-blue">cross-sell propensity by 40%</span> at a large
          consumer products company using personalised recommendation engines A
          large retailer saves
        </h2>
        <a class="download" (click)="redirect('achievements-three')"
          >Know More<i class="icon ga-arrow_forward"></i
        ></a>
      </div>
    </div>
  </div>
</section>
